#console{
	background-color: #090909;
	color: #00FF09;
	font-family: Courier New;
}

.list-button{
	margin-top: 6px;
}

.card-div{
	margin-top: 4px;
}

.rarity-symbol{
	padding: 2px;
	max-width: 48px;
	max-height: 48px;
	background-color: #F0F0F0;
	border-color: #0A0A0A;
	border-style: solid;
	border-width: 0.5px;
	border-radius: 5px;
}

.quantity-box{
	text-align: center;
	color: #0A0A0A;
	font-size: 1em;
	font-weight: 800;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	display: inline-flex;
	/*line-height: 1em;*/
	/*max-height: 1em;*/
}

.rarity-row{
	padding-left: 0.1em;
	margin-top: -54px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.status-icon{
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	display: inline-flex;
	text-align: center;
	margin-top: -1.7em;
	font-size: 6.5em;
}

#versioning{
	color: #A0A0A0;
	font-size: 0.7em;
}