#console{
	background-color: #090909;
	color: #00FF09;
	font-family: Courier New;
}

.list-button{
	margin-top: 6px;
}

.card-div{
	margin-top: 4px;
}

.start-hidden{
    display: none;
}

.rarity-symbol{
	padding: 2px;
	max-width: 48px;
	max-height: 48px;
	background-color: #F0F0F0;
	border-color: #0A0A0A;
	border-style: solid;
	border-width: 0.5px;
	border-radius: 5px;
}

.quantity-box{
	text-align: center;
	color: #0A0A0A;
	font-size: 1em;
	font-weight: 800;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	display: inline-flex;
	/*line-height: 1em;*/
	/*max-height: 1em;*/
}

.rarity-row{
	padding-left: 0.1em;
	margin-top: -54px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.status-icon{
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	display: inline-flex;
	text-align: center;
	margin-top: -1.7em;
	font-size: 6.5em;
}

#versioning{
	color: #A0A0A0;
	font-size: 0.7em;
}

.filter-container{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
	border-style: solid;
	border-color: #909090;
	border-width: 0.6px;
}

.filter-container-right{
	border-left-width: 0.3px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.filter-container-left{
	border-right-width: 0.3px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.filter-container-middle{
    border-left-width: 0.3px;
    border-right-width: 0.3px;
}

.filter-control-btn{
    border-color: #ced4da;
}

.filter-list{
    padding: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.filter-element{
    float: left;
    margin-right: 0.1em;
}

.filter-element-text{
    cursor: default;
    color: rgb(108, 117, 125);
}

.filter-element-text:hover{
    color: rgb(108, 117, 125);;
    background-color: #ffffff;
    border-color: #6c757d;
}

.blocky-button{
    margin-top: 0px;
    display: block;
    width: 100%;
}

.set-icon{
    width: 100px;
    height: 100px;
}

.modern-uncommon{
    filter: invert(90%) sepia(8%) saturate(7%) hue-rotate(321deg) brightness(92%) contrast(111%);
}

.modern-rare{
    filter: invert(78%) sepia(66%) saturate(283%) hue-rotate(351deg) brightness(92%) contrast(80%);
}

.modern-mythic{
    filter: invert(64%) sepia(100%) saturate(1434%) hue-rotate(345deg) brightness(98%) contrast(97%);
}

#control-dash{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    background-color: #EfEfEf;
}

#statusClearBtn{
    background-color: #fff;
    border-color: #ced4da;
}